.button {
  height: 40px;
  width: 100px;
  background: #6f6f6f;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  position: relative;

  &.action {
    width: 120px;
    padding-left: 20px;
    background: #4c9873;

    &:before {
      content: '';
      background-image: url("./done.svg");
      width: 22px;
      height: 22px;
      position: absolute;
      top: 7px;
      left: 5px;
    }
  }

  &.disabled {
    background: #a5a5a5;
    cursor: default;
    color: #eaeaea;

    &:before {
      background-image: none;
    }
  }
}