body {
    font-family: 'Josefin Sans', sans-serif;
}


.adminLink {
    position: absolute;
    right: 1px;

    /*width: 100px;*/
    /*height: 100px;*/

    cursor: pointer;

    z-index: 10;
}

.adminLink img {
    width: 48px;
    height: 48px;
}
