

.adminSection {
  width: 100%;
  //display: flex;
  text-align: center;

  h1 {
    font-size: 28px;
    font-weight: bold;
  }
}

.status {
  width: 100%;

  &.success {
    text-align: center;
    font-weight: 900;
    color: green;
  }

  &.error {
    text-align: center;
    font-weight: 900;
    color: red;
  }
}

.formContainer {
  background: #eeeeee;
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  fieldset {
    border: none;
  }

  margin-bottom: 10px;
}

.adminButtons {
  display: flex;
  justify-content: center;

  button {
     margin-left: 10px;
  }
}
